body {
    font-family: Arial, sans-serif;
}

.sidenav {
    height: 95%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 100;
    left: 0;
    background-color: #111;
    color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 5%;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sides{
    padding-right:1%;
    padding-left: 2%;
}

.width{
    width:96%;
    color: #000000;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 2%;
    font-size: 36px;
    margin-left: 50px;
}

.search{
    width:60%;
    color: #808080;
    border-radius: 3px;
    height: 25px;
}

.button {
    /*border-radius: 15px 50px:*/
    border-radius: 3px;
    height: 5%;
    background: #000000;
}

img{
    width: 10%;
    height: 5%;
}

.weather{
    padding-right:1%;
    padding-left: 10%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}