html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000;
    /*To get rid of the vertical scroll bar*/
    overflow-y: hidden;
}
.container {
    /*map size*/
    height: 83%;
    position: relative;
}

#map {
    bottom:0px;
    height: 100%;
    left: 0px;
    position: absolute;
    right: 0px;
    border:1px solid #A9A9A9;
    border-radius: 3px;
}

#pano {
    width: 200px;
    height: 200px;
}

.shape{
    margin-right: 1%;
    margin-left: 3%;
    margin-top: 1%;
    color: #ffffff;
}

.white_text{
    color: #ffffff;
}

input {
    font-size: 12px;
}

h1 {
    /*color: #525454;*/
    font-size: 22px;
    margin: 0 0 10px 0;
    /*text-align: center;*/
}

.shift {
    padding-left: 20%;
}






